<a href="https://colab.research.google.com/github/gagatadi/machine-learning/blob/main/Week%231%20Basic%20Data%20Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [4]:
iowa_file_path = '/content/drive/MyDrive/machine-learning/linear/train.csv'

In [5]:
iowa_data = pd.read_csv(iowa_file_path)

## Review Data

In [6]:
iowa_data.describe()

                 x           y
count   700.000000  699.000000
mean     54.985939   49.939869
std     134.681703   29.109217
min       0.000000   -3.839981
25%      25.000000   24.929968
50%      49.000000   48.973020
75%      75.000000   74.929911
max    3530.157369  108.871618